version: '3.8'
services:
  falkordb:
    image: falkordb/falkordb:latest
    ports:
      - "6379:6379"
    volumes:
      - ./data/falkordb:/data
    command: ["--save", "60", "1"]

  redis:
    image: redis:7-alpine
    ports:
      - "6380:6379"
    volumes:
      - ./data/redis:/data
